@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	padding: 0px 0px 50px 0px;
	background: linear-gradient(20deg, #f80429, #ff00bf, #009FFF, #0400ff);
	background-size: 450% 450%;
	animation: gradient 10s ease infinite;
	text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1, h2, h3, h4, p {
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
}

h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
}

h2{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 25px;
}

h3{
	letter-spacing: 2px;
	font-size: 20px;
}

p {
	font-size: 20px;
}

a {
	display: inline-block;
	text-decoration: underline;
	color: #c2c2c2;
	font-size: 17px;
	margin: 0px 0px 40px 0px;
}

a:hover {
	text-decoration: none;
	color: #fff;
	transition: 0.4s;
}

img {	
	display: inline-block;
	margin: 0 auto;
	box-shadow: 0px 10px 40px 10px rgba(0,0,0,0.75);
	border-radius: 20px;
	opacity: 0.7;
	transition: 0.4s;
	margin-top: 20px;
}

img:hover {
	opacity: 1;
}

iframe {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 500px;
	box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.75);
	border-radius: 10px;
}
